<app-toolbar></app-toolbar>
<article>
  <app-header></app-header>
  <div id="wrapper">
    <div class="panel equal">
      <div class="panel-header"><b>Field Type</b></div>
      <div class="panel-content">
        <table>
          <tr *ngFor="let field of data.fields" (click)="activeFieldType = field['name'].toLowerCase()" class="{{activeFieldType === field['name'].toLowerCase() ? 'active' : null}}">
            <td *ngIf="field['icon'].indexOf('fas') === -1"><span class="{{field['name'].toLowerCase()}}">{{field['icon']}}</span></td>
            <td *ngIf="field['icon'].indexOf('fas') > -1"><i class="{{field['icon']}} {{field['name'].toLowerCase()}}"></i></td>
            <td><b>{{field['name']}}</b></td>
            <td>{{field['desc']}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="panel equal">
      <div class="panel-header"><b>Properties</b></div>
      <div class="panel-content">
        <div>
<!--          <span class="tag"><i class="fas fa-tag"></i></span>-->
          <b>Label:</b><br>
          <input type="text" [(ngModel)]="label">

          <br><br>

          <b>Required:</b><br>
          <p-inputSwitch [(ngModel)]="required"></p-inputSwitch>

          <ng-container *ngIf="activeFieldType === 'select'">
            <br><br>
            <b>Allow multiple selections</b><br>
            <p-inputSwitch [(ngModel)]="multiselect"></p-inputSwitch>
            <br><br>
            <b>Options. 1 option per row.</b><br>
            <textarea [(ngModel)]="options" style="width: 100%; height: 100px;"></textarea>
          </ng-container>

        </div>
        <div class="btn" (click)="submit()">Save</div>
      </div>
    </div>
  </div>
</article>
<p-toast></p-toast>
