<app-toolbar></app-toolbar>
<article>
  <app-header></app-header>
  <div id="wrapper">
    <div class="panel equal">
      <div class="panel-header"><b>Field Type</b></div>
      <div class="panel-content">
        <table>
          <tr class="active">
            <td><span class="string">Ab</span></td>
            <td><b>String</b></td>
            <td>Plain text input.</td>
          </tr>
          <tr>
            <td><span class="number">123</span></td>
            <td><b>Number</b></td>
            <td>Numbers only, please.</td>
          </tr>
          <tr>
            <td><i class="fas wysiwyg fa-paragraph"></i></td>
            <td><b>WYSIWYG</b></td>
            <td>Full text editor.</td>
          </tr>
          <tr>
            <td><i class="fas color fa-eye-dropper"></i></td>
            <td><b>Color</b></td>
            <td>Pick a color, any color.</td>
          </tr>
          <tr>
            <td><i class="fas select fa-tasks"></i></td>
            <td><b>Select</b></td>
            <td>Make your choice.</td>
          </tr>
          <tr>
            <td><i class="fas boolean fa-toggle-on"></i></td>
            <td><b>Boolean</b></td>
            <td>True or false. Yes or no.</td>
          </tr>
          <tr>
            <td><i class="fas image fa-image"></i></td>
            <td><b>Image</b></td>
            <td>A place to upload puppy pics.</td>
          </tr>
          <tr>
            <td><span class="json">{{ '{}' }}</span></td>
            <td><b>JSON</b></td>
            <td>For you coders out there.</td>
          </tr>
          <tr>
            <td><i class="fas textarea fa-align-left"></i></td>
            <td><b>Textarea</b></td>
            <td>Plan textarea input box.</td>
          </tr>
          <tr>
            <td><i class="fas relation fa-link"></i></td>
            <td><b>Relation</b></td>
            <td>Link this content type to another.</td>
          </tr>
          <tr>
            <td><i class="fas date fa-calendar"></i></td>
            <td><b>Date</b></td>
            <td>Select a date.</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="panel equal">
      <div class="panel-header"><b>Properties</b></div>
      <div class="panel-content">
        <div>
          <span><i class="fas fa-tag"></i></span>
          <input type="text" placeholder="Label">
        </div>
        <div class="btn">Save</div>
      </div>
    </div>
  </div>
</article>
