<div id="toolbar">
  <h1 id="title" [routerLink]="'/'">Atlas</h1>
  <div id="navigation">
    <ul>
      <li>CONTENT TYPES <i class="fas fa-plus" [routerLink]="'/create/type/content'"></i>
        <ul>
          <li class="none">No content types created :(</li>
        </ul>
      </li>
      <li>SINGLETONS <i class="fas fa-plus" [routerLink]="'/create/type/singleton'"></i>
        <ul>
          <li class="none">No singletons created :(</li>
        </ul>
      </li>
      <li>RESOURCES
        <ul>
          <li><i class="fas fa-cube"></i><span>Media Assets</span><i class="fas fa-angle-right"></i></li>
          <li><i class="fas fa-recycle"></i><span>Repeater Fields</span><i class="fas fa-angle-right"></i></li>
          <li><i class="fas fa-question"></i><span>Help</span><i class="fas fa-angle-right"></i></li>
        </ul>
      </li>
      <li>SETTINGS
        <ul>
          <li><i class="fas fa-server"></i><span>Websites</span><i class="fas fa-angle-right"></i></li>
          <li><i class="fas fa-key"></i><span>API Keys</span><i class="fas fa-angle-right"></i></li>
          <li><i class="fas fa-users"></i><span>Users</span><i class="fas fa-angle-right"></i></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
