<app-toolbar></app-toolbar>
<article>
  <app-header></app-header>
  <div id="wrapper">
    <div class="panel">
      <div class="panel-header"><b>{{mode === 'new' ? 'New' : 'Edit'}} Content Type</b></div>
      <div class="panel-content">
        <div>
          <span><i class="fas fa-tag"></i></span>
          <span style="margin-left: 5px">/services/</span><input style="width: calc(100% - 100px); margin-left: 5px" [(ngModel)]="path" type="text" placeholder="path">
        </div>
        <div>
          <span><i class="fas fa-map"></i></span>
          <select [(ngModel)]="method">
            <option value="{{item.value}}" *ngFor="let item of methods">{{item.label}}</option>
          </select>
        </div>
        <div class="btn" (click)="submit()">Save</div>
        <div *ngIf="mode === 'edit'" class="btn red" (click)="delete()">Delete</div>
      </div>
    </div>
    <div class="panel" *ngIf="atlas.activeContentType">
      <div class="panel-header"><b>Fields</b> ({{atlas.activeContentType.fields.length}}) <i class="fas fa-plus" (click)="addField()"></i></div>
      <div class="panel-content">

<!--        <p-table [columns]="cols" [value]="cars" [reorderableColumns]="true">-->
<!--          <ng-template pTemplate="header" let-columns>-->
<!--            <tr>-->
<!--              <th style="width:2.5em"></th>-->
<!--              <th *ngFor="let col of columns" pReorderableColumn>-->
<!--                {{col.header}}-->
<!--              </th>-->
<!--            </tr>-->
<!--          </ng-template>-->
<!--          <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">-->
<!--            <tr [pReorderableRow]="index">-->
<!--              <td>-->
<!--                <i class="pi pi-bars" style="display: flex;justify-content: center;" pReorderableRowHandle></i>-->
<!--              </td>-->
<!--              <td *ngFor="let col of columns">-->
<!--                {{rowData[col.field]}}-->
<!--              </td>-->
<!--            </tr>-->
<!--          </ng-template>-->
<!--        </p-table>-->

        <table>
          <tr *ngIf="atlas.activeContentType.fields.length === 0">
            <td>No fields to display. Click the + to add fields.</td>
            <td></td>
          </tr>
          <tr *ngFor="let field of atlas.activeContentType.fields; let i = index">
            <td>
              <span *ngIf="field.type === 'string'" class="string">Ab</span>
              <span *ngIf="field.type === 'number'" class="number">123</span>
              <i *ngIf="field.type === 'wysiwyg'" class="fas wysiwyg fa-paragraph"></i>
              <i *ngIf="field.type === 'color'" class="fas color fa-eye-dropper"></i>
              <i *ngIf="field.type === 'select'" class="fas select fa-tasks"></i>
              <i *ngIf="field.type === 'boolean'" class="fas boolean fa-toggle-on"></i>
              <i *ngIf="field.type === 'image'" class="fas image fa-image"></i>
              <span *ngIf="field.type === 'json'" class="json">{{'{}'}}</span>
              <i *ngIf="field.type === 'textarea'" class="fas textarea fa-align-left"></i>
              <i *ngIf="field.type === 'relation'" class="fas relation fa-link"></i>
              <i *ngIf="field.type === 'date'" class="fas date fa-calendar"></i>
            </td>
            <td>{{field.label}}</td>
            <td>{{field.required ? 'Required' : 'Not Required'}}</td>
            <td>
<!--              <i class="fas fa-pencil-alt"></i>-->
              <i class="fas fa-trash" (click)="remove(i)"></i>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</article>
<p-toast></p-toast>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
