<app-toolbar></app-toolbar>
<article>
  <app-header></app-header>
  <div id="wrapper">
    <div class="panel">
      <div class="panel-header"><b>New Content Type</b></div>
      <div class="panel-content">
        <div>
          <span><i class="fas fa-tag"></i></span>
          <input type="text" placeholder="Name">
        </div>
        <div>
          <span><i class="fas fa-question"></i></span>
          <select>
            <option>Select Icon</option>
          </select>
        </div>
        <div class="btn">Save</div>
      </div>
    </div>
    <div class="panel">
      <div class="panel-header"><b>Fields</b> (11) <i class="fas fa-plus" [routerLink]="'/create/field'"></i></div>
      <div class="panel-content">
        <table>
          <tr>
            <td><span class="string">Ab</span></td>
            <td>String Example</td>
            <td>
              <i class="fas fa-pencil-alt"></i>
              <i class="fas fa-trash"></i>
            </td>
          </tr>
          <tr>
            <td><span class="number">123</span></td>
            <td>Number Example</td>
            <td>
              <i class="fas fa-pencil-alt"></i>
              <i class="fas fa-trash"></i>
            </td>
          </tr>
          <tr>
            <td><i class="fas wysiwyg fa-paragraph"></i></td>
            <td>WYSIWYG Example</td>
            <td>
              <i class="fas fa-pencil-alt"></i>
              <i class="fas fa-trash"></i>
            </td>
          </tr>
          <tr>
            <td><i class="fas color fa-eye-dropper"></i></td>
            <td>Color Example</td>
            <td>
              <i class="fas fa-pencil-alt"></i>
              <i class="fas fa-trash"></i>
            </td>
          </tr>
          <tr>
            <td><i class="fas select fa-tasks"></i></td>
            <td>Select Example</td>
            <td>
              <i class="fas fa-pencil-alt"></i>
              <i class="fas fa-trash"></i>
            </td>
          </tr>
          <tr>
            <td><i class="fas boolean fa-toggle-on"></i></td>
            <td>Boolean Example</td>
            <td>
              <i class="fas fa-pencil-alt"></i>
              <i class="fas fa-trash"></i>
            </td>
          </tr>
          <tr>
            <td><i class="fas image fa-image"></i></td>
            <td>Image Example</td>
            <td>
              <i class="fas fa-pencil-alt"></i>
              <i class="fas fa-trash"></i>
            </td>
          </tr>
          <tr>
            <td><span class="json">{{'{}'}}</span></td>
            <td>JSON Example</td>
            <td>
              <i class="fas fa-pencil-alt"></i>
              <i class="fas fa-trash"></i>
            </td>
          </tr>
          <tr>
            <td><i class="fas textarea fa-align-left"></i></td>
            <td>Textarea Example</td>
            <td>
              <i class="fas fa-pencil-alt"></i>
              <i class="fas fa-trash"></i>
            </td>
          </tr>
          <tr>
            <td><i class="fas relation fa-link"></i></td>
            <td>Relation Example</td>
            <td>
              <i class="fas fa-pencil-alt"></i>
              <i class="fas fa-trash"></i>
            </td>
          </tr>
          <tr>
            <td><i class="fas date fa-calendar"></i></td>
            <td>Date Example</td>
            <td>
              <i class="fas fa-pencil-alt"></i>
              <i class="fas fa-trash"></i>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</article>
